<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
	<div>
		@RenderBody()
		<footer class="header">Carefully crafted by Slavomiro Vonzo himself</footer>

	</div>
</body>
</html>
