@model CityWeather

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet (1).css" rel="stylesheet" />
</head>
<body>
	<div class="page-content">
		<div class="container margin-top-200 text-center">
			<table class="box w-25 margin-auto">
				<tbody>
					<tr>
						<td>
							<p>
								<b>@Model.CityName</b>
							</p>
							<p class="text-grey">
								<font size="2"><b>@Model.DateAndTime.ToShortDateString()</b></font>
							</p>
							<p class="text-grey">
								<font size="2"><b>@Model.DateAndTime.ToShortTimeString()</b></font>
							</p>
						</td>
						<td class="border-left">
							<p>
								<b>@Model.TemperatureFahrenheit</b> <span class="text-grey"><b><sup>&#176F</sup></b></span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<font size="2"><a href="/">Back to the Weather App Home Page</a></font>
			</p>
		</div>
	</div>
</body>
</html>