<!DOCTYPE html>

<html>
<head>
	<title>Weather App Error Page</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet (1).css" rel="stylesheet" />
</head>
<body>
	<div class="page-content text-center">
		<h1 class="header">WRONG CITY CODE!!!!</h1>
	</div>
</body>
</html>