<!DOCTYPE html>

<html>
	<head>
		<title>Weather App Error Page</title>
		<meta charset="utf-8"/>
		<link href="~/StyleSheet (1).css" rel="stylesheet"/>
	</head>
	<body>
		<h1>WRONG CITY CODE!!!!</h1>
	</body>
</html>