@{
	ViewBag.Title = "Weather App Error Page";
}

	<div class="page-content text-center">
		<div class="page-content text-center">
			<h1 class="header">WRONG OR MISSING CITY CODE!!!!</h1>
		</div>
		<a href="/">Back to the Weather App Home Page</a>
	</div>
